body {
	font-family:Verdana;
	background-color: black;
	text-align: center;
}

h1{
	font-weight: bold;
	font-size: 50px;
	color: white;
}

a{
	color:aquamarine;
	font-size: 16px;
}

h2{
	font-weight: bold;
	font-size: 42px;
	color:white;
}

p{
	color:gray;
	font-size:21px;
}

.c{
	text-align: right;
}

.phoneicon{
	padding-top:30px;
}

video{
	padding-top:30px;
}